<app-navbar></app-navbar>

<div class="page-container">

    <div class="company-logo">

        <div class="calif">
            <h3>Xplora <br>Tours</h3>
        </div>

        <div class="buttonss">
            <button class="side" (click)="addProject()">Add Tour</button>
            <button class="side" (click)="fetchProjects()">All Tours </button>
            <button class="side" (click)="viewCompletedProjects()">Completed </button>
            <button class="side" (click)="viewIncompleteProjects()">Incomplete </button>
            <button class="side" (click)="viewIncompleteProjects()">Upcoming </button>
        </div>
    </div>

    <div class="project-dashboard">
        <!-- project cards -->
        <div class="buttonsss">

            <p class="top">All<br> <span>23</span></p>
            <p class="top">Completed <br><span style="color:#0056b3;"> 45</span></p>
            <p class="top">Incomplete<br> <span style="color: red;">34</span></p>
            <p class="top">Upcoming<br> <span style="color: red;">34</span></p>
            <p class="top">Search <span><input type="text" style="border: solid 1px #a09e9e;"></span></p>
        </div>

        <div *ngIf="filteredProjects" class="card-container">
            <div *ngIf="noneCompleted" class="noneCompleted">
                <p>None of the projects are Completed</p>

            </div>
            <div *ngFor="let project of filteredProjects" class="card" (click)="projectDetails(project)">
                <h4>{{ project.projectName }}</h4>
                <p style="font-size: medium;"> <span style="font-weight: bold;">Assigned User: </span>{{
                    project.AssignedUserName }}</p>
                <p style="font-size: medium;"><span style="font-weight: bold;">End Date: </span>{{
                    formatDate(project.endDate) }}</p>
                <!-- <p>Assigned User Email: {{ project.AssignedUserEmail }}</p> -->
                <p [style.color]="isCompleted ? '#0056b3' : '#0056b3'"><span style="font-weight: bold;">Status:
                    </span>{{
                    project.projectStatus }}</p>
                <!-- <p>Description: {{ project.projectDescription }}</p> -->
                <p style="display: none;">ID:{{project.projectID}}</p>
            </div>
        </div>
    </div>



    <!-- create tour form -->
    <div *ngIf="showProjectForm" class="project-form-container project-form-transition">
        <div class="project-form project-form-transition">
            <form id="project-form" (ngSubmit)="submitProjectForm()">
                <p style="margin: 10px; color: blue;">{{successAssign}}</p>
                <p style="margin: 10px; color: blue;">{{updateResponse}}</p>
                <p [style.color]="isWhichError ? 'blue' : 'red'">{{errorResponse}}</p>
                <!-- highlights -->
                <div class="tourInfo">
                    <div class="form-group">
                        <p>Highlights</p>
                        <label for="projectName">Tour Name:</label>
                        <input type="text" id="projectName" placeholder="Project Name" name="projectName"
                            [(ngModel)]="projectForm.projectName" required>
                    </div>
                    <div class="form-group">
                        <label for="projectDescription">Tour Description:</label>
                        <textarea id="projectDescription" placeholder="Project Description" name="projectDescription"
                            [(ngModel)]="projectForm.projectDescription" required></textarea>
                    </div>
                </div>
                <div class="tourInfo">
                    <p>Inclusions</p>
                    <div class="form-group">
                        <label for="projectDescription">Transport Details:</label>
                        <textarea id="projectDescription" placeholder="Project Description" name="projectDescription"
                            [(ngModel)]="projectForm.projectDescription" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="projectEndDate">Project End Date:</label>
                        <input type="date" id="projectEndDate" placeholder="End Date" name="projectEndDate"
                            [(ngModel)]="projectForm.projectEndDate" required>
                    </div>
                </div>
                <div class="tourInfo">
                    <p>Itenaries</p>
                    <div class="form-group">
                        <label for="employeeEmail">Employee Email:</label>
                        <select id="employeeEmail" name="employeeEmail" [(ngModel)]="projectForm.employeeEmail"
                            (ngModelChange)="updateEmployeeName()">
                            <option value="" disabled>Select an employee email</option>
                            <option *ngFor="let email of employeeEmails" [value]="email.email">{{ email.email }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="employeeName">Employee Name:</label>
                        <input type="text" id="employeeName" name="employeeName" [(ngModel)]="projectForm.employeeName"
                            readonly>
                    </div>

                </div>
            
                <button (click)="closeProject()" class="close"> Close</button>
                <button type="submit" class="formSubmit">Assign Project</button>
            </form>
        </div>
    </div>

    <!-- update form -->
    <div *ngIf="showUpdateForm" class="project-form-container project-form-transition">
        <div class="project-form project-form-transition">
            <form id="project-form" (ngSubmit)="updateProjectForm()">

                <p style="margin: 10px;color: red;">{{updateResponse}}</p>
                <p style="margin: 10px; color: blue;">{{successResponse}}</p>
                <div class="form-group">
                    <!-- <label for="projectID">Project ID:</label> -->
                    <!-- <input type="text" id="projectID" placeholder="Project ID" name="projectID" [(ngModel)]="projctID" readonly> -->
                </div>
                <div class="form-group">
                    <label for="projectName">Project Name:</label>
                    <input type="text" id="projectName" placeholder="Project Name" name="projectName"
                        [(ngModel)]="projectForm.projectName" required>
                </div>
                <div class="form-group">
                    <label for="projectDescription">Project Description:</label>
                    <textarea id="projectDescription" placeholder="Project Description" name="projectDescription"
                        [(ngModel)]="projectForm.projectDescription" required></textarea>
                </div>
                <div class="form-group">
                    <label for="projectEndDate">Project End Date:</label>
                    <input type="date" id="projectEndDate" placeholder="End Date" name="projectEndDate"
                        [(ngModel)]="projectForm.projectEndDate" required>
                </div>
                <div class="form-group">
                    <label for="employeeEmail">Employee Email:</label>
                    <select id="employeeEmail" name="employeeEmail" [(ngModel)]="projectForm.employeeEmail"
                        (ngModelChange)="updateEmployeeName()">
                        <option value="">Select an employee email</option>
                        <option *ngFor="let email of employeeEmails" [value]="email.email">{{ email.email }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="employeeName">Employee Name:</label>
                    <input type="text" id="employeeName" name="employeeName" [(ngModel)]="projectForm.employeeName"
                        readonly>
                </div>
                <button (click)="closeUpdate()" class="close"> Close</button>
                <button type="submit" class="formSubmit">Update Project</button>
                <p *ngIf="isCompletedr"><button (click)="deleteProject()" class="delete"> Delete</button></p>


            </form>
        </div>
    </div>

    <div id="logincontainer">
        <div *ngIf="showAcceptanceForm" class="formcontainer">
            <div class="project-form-container project-form-transition">
                <div class="project-form project-form-transition">
                    <p>Do you want to delete</p>
                    <button (click)="acceptDelete()" class="yes"> Yes</button>
                    <button (click)="closeAuth()" class="no"> No</button>
                </div>
            </div>
        </div>
        >
    </div>
</div>