
.container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    /* border: solid red 2px; */
    
}

h2 {
    font-size: 2rem;
    margin-top: 1rem;
}
.company{
    /* margin-bottom: 2.5rem; */
    font-weight: bolder;
    /* border: solid red 2px; */
    font-size: x-large;
    text-align: center;
    padding: 20px 0px;
}
#logincontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:rgb(238, 235, 235);
    width: 40vw;
    height:60%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 1.5rem;
    /* border: solid green 2px; */
}

.walle{
    background-image: url('../../assets/xploralanding.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 20vw;
    height:60%;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    
}

 .formcontainer{
    width: 60%;
    padding: 1rem;
}
.formcontainer form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#logincontainer .formcontainer form label{
    font-size: 1rem;
}
#logincontainer #email-error, 
#logincontainer #password-error{
    color: red;
}
#logincontainer .formcontainer form input{
    text-align: center;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 25px; 
    outline: none;
    /* border:  solid gray 0.001px;  */
    border: solid 1px;
    border-color: #D9D9D9;
   
}
#logincontainer .formcontainer form input:focus{
    border-color:rgb(72, 114, 179);
}

#logincontainer .formcontainer form button{
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 5px; 
    cursor: pointer;
    color:black;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    border: solid 1px;
    border-color: #D9D9D9;

}

#logincontainer .formcontainer form button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    background-color: #fff;
    color:white ;
    background-color:rgb(72, 114, 179) ;
  }
#logincontainer .formcontainer a{
    text-decoration: none;
    text-transform: capitalize;
    margin-top: 10px;
    color:rgb(72, 114, 179);
}
#response{
    color: red;
    text-align: center;
}