<app-navbar></app-navbar>
<div class="company">
    XPLORA TOURS : <span style="font-style: italic;">Adventure  Awaits</span> 
</div>
<div class="container">
   
    <div class="walle"></div>
    <div id="logincontainer">
       
        <h2>Sign in</h2>
        <div class="formcontainer">
            <form (ngSubmit)="onSubmit()">
                <p *ngIf="loginError"  id="response">{{ loginError }}</p>
                <p id="response" style="color: blue;">{{ loginSuccess }}</p>
                <label>Email address<span></span></label>
                <input type="email" placeholder="example@gmail.com" [(ngModel)]="email" name="email">
                <label>Password</label>
                <input type="password" placeholder="password" [(ngModel)]="password" name="password">
                <button type="submit">Login >>></button>
                <a routerLink="/signup">Are you new?</a>
            </form>
        </div>
    </div>
</div>

