
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
  
}
.impression{
    height: 700px;
    width: 98vw;
    /* border: solid red 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.company{
    /* margin-bottom: 2.5rem; */
    font-weight: bolder;
    /* border: solid red 2px; */
    font-size: x-large;
    text-align: center;
    padding: 20px 0px;
}


/* Popular Destination */
.popularDestination{
    /* border: solid green 2px; */
    height: 500px;
    width: 95vw;
    margin:5px 0px;
    display: flex;
    padding: 5px;
    justify-content: center;
   
    
    

}
.mainPopular{
    /* border: solid blue 2px; */
    height: 500px;
    width: 40vw;

}
.minorPopular{
    /* border: solid yellow 2px; */
    height: 500px;
    width: 60vw;
    display: flex;
    flex-wrap: wrap;

}
.miniPopular{
    height: 200px;
    width: 200px;
    /* border: solid gray 2px; */
    margin: 5px;
    transition: all 0.4s ease-in-out;
}
.miniPopular:hover{
    transform: translateY(-3px);
    cursor: pointer;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);

}

/* Recommended */
.minorRecommended{
    /* border: solid yellow 2px; */
    height: 700px;
    width: 95vw;
    display: flex;
    flex-wrap: wrap;

}
.miniRecommended{
    height: 300px;
    width: 300px;
    /* border: solid gray 2px; */
    margin: 5px;
    transition: all 0.4s ease-in-out;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}
.miniRecommended:hover{
    transform: translateY(-3px);
    cursor: pointer;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);

}
.recommendedDetails{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.recommendedDetails button{
    padding: 10px;
    transition: all 0.4s ease-in-out;
}
.recommendedDetails button:hover{
    transform: translateY(-3px);
    cursor: pointer;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}


/* Special offers */
.specialOffers{
    /* border: solid green 2px; */
    height: 500px;
    width: 95vw;
    margin:5px 0px;
    display: flex;
    padding: 5px;
    justify-content: center;
}
.mainSpecial{
    /* border: solid blue 2px; */
    height: 500px;
    width: 40vw;

}
.minorSpecial{
    /* border: solid yellow 2px; */
    height: 500px;
    width: 60vw;
    display: flex;
    flex-wrap: wrap;

}
.miniSpecial{
    height: 200px;
    width: 200px;
    border: solid gray 2px;
    margin: 5px;
    transition: all 0.4s ease-in-out;
}
.miniSpecial:hover{
    transform: translateY(-3px);
    cursor: pointer;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);

}

/* International */
.minorInternational{
    border: solid yellow 2px;
    height: 700px;
    width: 95vw;
    display: flex;
    flex-wrap: wrap;

}
.miniInternational{
    height: 300px;
    width: 300px;
    border: solid gray 2px;
    margin: 5px;
    transition: all 0.4s ease-in-out;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}
.miniInternational:hover{
    transform: translateY(-3px);
    cursor: pointer;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);

}
.internationalDetails{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.internationalDetails button{
    padding: 10px;
    transition: all 0.4s ease-in-out;
}
.internationalDetails button:hover{
    transform: translateY(-3px);
    cursor: pointer;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
   
}

