<div class="contact">
    <div class="info">
        <div class="information">
            <h4>Company Info</h4>
            <ul>
                <li>About us</li>
                <li>Career</li>
                <li>We are hiring</li>
                <li>Blog</li>
            </ul>
        </div>
        <div class="information">
            <h4>Legal</h4>
            <ul>
                <li>About us</li>
                <li>Career</li>
                <li>We are hiring</li>
                <li>Blog</li>
            </ul>
        </div>
        <div class="information">
            <h4>Sevices</h4>
            <ul>
                <li>Weekend Getaways</li>
                <li>International trips</li>
                <li>WildFires </li>
                <li>Unlimited Photos</li>
            </ul>
        </div>
        <div class="information">
            <h4>Resources</h4>
            <ul>
                <li>Escort Houses</li>
                <li>Car for hire</li>
                <li>Camping Equipments</li>
            </ul>
        </div>
        <div class="information">
            <h4>Get in touch</h4>
            <ul>
                <li><ion-icon name="call-outline"></ion-icon>&nbsp;(+254) 5554-0103</li>
                <li><ion-icon name="location-outline"></ion-icon>&nbsp;4517 Nairobi Ave</li>
                <li><ion-icon name="mail-outline"></ion-icon>&nbsp;Xplora.com</li>
            </ul>
        </div>
    </div>
</div>

